body {
    background: #EAF3FA;
}

.cf {
    clear: both;
}

.sign_wrap {
    background: #fff;
    border-radius: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 35px;
    max-width: 700px;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.add_wrap {
    max-width: 600px;
}

.sign_wrap h2,
.side_bx h2,
.bx_popup h2 {
    font: 700 20px/26px 'Open Sans', sans-serif;
    margin: 10px 0 15px 0;
}

.dashbord_body {
    background: #EAF3FA;
}

.sign_logo {
    max-width: 240px;
    margin: 0 auto 15px auto;
}

p a,
a:not([href]):not([class]) {
    color: #233862;
    text-decoration: underline;
}

a:not([href]):not([class]):hover,
p a:hover {
    color: #233862;
    text-decoration: none;
}

a {
    cursor: pointer;
}

.form-control {
    font: 400 14px/20px 'Open Sans', sans-serif;
    padding: 12px 15px;
    border-radius: 30px;
}

.btn_theme {
    background: #FDA428;
    font: 600 14px/20px 'Open Sans', sans-serif;
    color: #fff;
    padding: 8px 30px;
    border-radius: 30px;
    border: none;
}

.btn_theme:hover,
.btn_theme:focus,
.btn_theme:active {
    background: #6c53e0;
    color: #fff;
}

.full_bx {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: scroll;
}

.side_bx {
    width: 300px;
    height: 100vh;
    padding: 20px;
    background: #fff;
    position: fixed;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}

.side_bx .sign_logo {
    padding-top: 30px;
}

.avatar {
    padding: 20px;
    width: 150px;
    height: 150px;
    margin: 30px auto 10px auto;
    border: 4px solid #EAE8E8;
    border-radius: 50%;
}

.logout {
    border: 2px solid #C6D0D9;
    border-radius: 30px;
    margin: 30px auto;
    padding: 8px 20px;
    font: 600 14px/20px 'Open Sans', sans-serif;
    color: #233862;
    text-align: left;
    width: 150px;
    /* background: url(../images/logout-icon.svg) no-repeat 90% #fff; */
    background-size: 25px;
}

.logout:hover {
    /* background: url(../images/logout-icon-active.svg) no-repeat 90% #6c53e0; */
    background-size: 25px;
    color: #fff;
    border: 2px solid #6c53e0;
}

.full_bx {
    display: flex;
}

.right_bx {
    padding: 60px 0 0 350px;
    flex-basis: 70%;
}

.link_bx {
    background: #fff;
    padding: 8px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: inline-block;
    margin-bottom: 20px;
}

.link_bx ul {
    list-style: none;
}

.link_bx ul li {
    display: inline-block;
    margin-right: 10px;
}

.link_bx ul li:last-child {
    margin-right: 0;
}

.link_bx ul li a {
    font: 600 14px/20px 'Open Sans', sans-serif;
    text-decoration: none;
    display: block;
    padding: 10px 35px;
    background: #EBEBEB;
    border-radius: 10px;
    color: #111;
    cursor: pointer;
    text-decoration: none !important;
}

.link_bx ul li a:hover {
    background: #FDA428;
    color: #fff !important;
    text-decoration: none !important;
}

.company_bx {
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 15px 30px;
    border-radius: 10px;
    margin: 20px 0;
    max-width: 600px;
    width: 100%;
}

.company_bx h3 {
    font: 700 22px/26px 'Open Sans', sans-serif;
}

.company_bx .bx {
    padding: 0 15px;
}

.company_bx .bx .bx_row {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.company_bx .bx .bx_row:last-child {
    border-bottom: none;
    padding: 10px 0 0 0;
}

.bx_popup {
    text-align: center;
    padding: 30px;
}

.bx_popup .number {
    background: #E6E0FF;
    padding: 8px 20px;
    border-radius: 30px;
    display: inline-block;
    font: 400 20px/24px 'Open Sans', sans-serif;
    letter-spacing: 5px;
    margin: 0 0 20px 0;
}

.bx_row .btn_theme {
    float: right;
}

@media (max-width: 1199.98px) {
    .right_bx {
        flex-basis: 95%;
    }
}

@media (max-width: 767.98px) {
    .sign_wrap {
        position: relative;
        transform: inherit;
        left: 0;
        top: 0;
        margin: 30px 5%;
        width: 90%;
    }
    .sign_logo {
        width: 160px;
    }
    .copy {
        position: inherit;
    }
    p.mt-3 {
        margin-top: 0 !important;
    }
    .side_bx {
        height: inherit;
        width: 100%;
        position: relative;
    }
    .full_bx {
        display: block;
    }
    .side_bx .sign_logo {
        float: left;
        padding: 0;
    }
    .avatar {
        width: 40px;
        height: 40px;
        border: 2px solid #EAE8E8;
        padding: 2px;
        margin: 0;
        float: right;
    }
    .side_bx .sign_logo {
        width: 140px;
    }
    .side_bx h2 {
        text-align: right !important;
        font-size: 14px;
        margin: 0;
        padding: 5px 50px 0 0;
    }
    .logout {
        margin: 0;
    }
    .right_bx {
        padding: 50px 15px 30px 15px;
        flex-basis: inherit;
    }
    .company_bx h3 {
        font: 700 18px/22px 'Open Sans', sans-serif;
    }
    .company_bx {
        padding: 15px;
        max-width: inherit;
    }
    .link_bx {
        width: 100%;
        margin: 0;
    }
    .link_bx ul li {
        width: 48%;
        margin-right: 2%;
        text-align: center;
    }
    .link_bx ul li:last-child {
        margin-right: 0;
    }
    .link_bx ul li a {
        padding: 8px;
        display: block;
    }
    .logout {
        padding: 4px 16px;
        background-size: 20px;
        width: 114px;
        position: absolute;
        top: 80px;
        right: 20px;
    }
    .logout:hover {
        background-size: 20px;
    }
}