body {
    background: #EAF3FA;
}

.sign_wrap {
    background: #fff;
    border-radius: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 35px;
    max-width: 700px;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sign_logo,
.side_bx h2,
.bx_popup h2 {
    font: 700 20px/26px 'Open Sans', sans-serif;
    margin: 10px 0 15px 0;
    
}

.sign_logo {
    max-width: 240px;
    margin: 0 auto 15px auto;
}

.side_bx {
    width: 300px;
    height: 100vh;
    padding: 20px;
    background: #fff;
    position: fixed;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}

.side_bx .sign_logo {
    padding-top: 30px;
}

.avatar {
    padding: 20px;
    width: 150px;
    height: 150px;
    margin: 30px auto 10px auto;
    border: 4px solid #EAE8E8;
    border-radius: 50%;
}

.logout {
    border: 2px solid #C6D0D9;
    border-radius: 30px;
    margin: 30px auto;
    padding: 8px 20px;
    font: 600 14px/20px 'Open Sans', sans-serif;
    color: #233862;
    text-align: left;
    width: 150px;
    /* background: url(../images/logout-icon.svg) no-repeat 90% #fff; */
    background-size: 25px;
}

.logout:hover {
    /* background: url(../images/logout-icon-active.svg) no-repeat 90% #6c53e0; */
    background-size: 25px;
    color: #fff;
    border: 2px solid #6c53e0;
}

.sign_wrap h2 {
    font: 700 20px/26px 'Open Sans', sans-serif;
    margin: 10px 0 15px 0;
}

.form_control {
    font: 400 14px/20px 'Open Sans', sans-serif;
    padding: 12px 15px;
    border-radius: 30px;
}


.right_bx {
    padding: 60px 0 0 350px;
    flex-basis: 70%;
}

.link_bx {
    background: #fff;
    padding: 8px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: inline-block;
    margin-bottom: 20px;
}

.link_bx ul {
    list-style: none;
}

.link_bx ul li {
    display: inline-block;
    margin-right: 10px;
}

.link_bx ul li:last-child {
    margin-right: 0;
}

.link_bx ul li a {
    font: 600 14px/20px 'Open Sans', sans-serif;
    text-decoration: none;
    display: block;
    padding: 10px 35px;
    background: #EBEBEB;
    border-radius: 10px;
    color: #111;
    cursor: pointer;
    text-decoration: none !important;
}

.link_bx ul li a:hover {
    background: #FDA428;
    color: #fff !important;
    text-decoration: none !important;
}

p a,
a:not([href]):not([class]) {
    color: #233862;
    text-decoration: underline;
}

a:not([href]):not([class]):hover,
p a:hover {
    color: #233862;
    text-decoration: none;
}

a {
    cursor: pointer;
}

.cf {
    clear: both;
}

.btn_theme {
    background: #FDA428;
    font: 600 14px/20px 'Open Sans', sans-serif;
    color: #fff;
    padding: 8px 30px;
    border-radius: 30px;
    border: none;
    margin-top: 1rem;
}

.btn_theme:hover,
.btn_theme:focus,
.btn_theme:active {
    background: #6c53e0;
    color: #fff;
}

.alert {
    margin-top: 1rem;
    width: 80%;
    font-size: 0.8rem;
}

@media(max-width: 767.98px) {
    .sign_wrap {
        position: relative;
        transform: inherit;
        left: 0;
        top: 0;
        margin: 30px 5%;
        width: 90%;
    }

    .sign_logo {
        width: 160px;
    }

    .copy {
        position: inherit;
    }
}