@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

*,
ul {
  margin: 0;
  padding: 0;
}

body {
  font: 400 16px/26px "Open Sans", sans-serif;
  color: #111;
  overflow-x: hidden;
  background: #EAF3FA;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}